[Unit]
Description=HALPI Daemon
After=syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/halpid -s /var/run/halpid.sock

[Install]
WantedBy=multi-user.target
