[Unit]
Description=HALPI Daemon
After=syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/opt/venvs/halpid/bin/halpid -s /var/run/halpid.sock
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
